{% macro button(href, class, variant="default") %}
  <a
    href="{{ href }}"
    class="group flex flex-row items-center justify-center gap-2 rounded-none border {% if variant == 'linkedin' %}border-[#0a66c2] bg-[#0a66c2] text-white hover:bg-[#004182] hover:border-[#004182]{% else %}border-black bg-white hover:bg-[#315f87] hover:border-[#315f87] hover:text-white{% endif %} focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#315f87] font-mono text-sm font-semibold px-3 h-11 shadow-[2px_2px_0_0_rgba(16,17,20,0.35)] {{ class }}"
  >
    {{ caller() }}
  </a>
{% endmacro %}
